[Desktop Entry]
Version=1.0
Name=TUI Lazy Docker
Comment=Docker
Exec=xdg-terminal-exec --app-id=tui.lazydocker -e lazydocker
Terminal=false
Type=Application
Icon=/home/topchiyev/.local/share/applications/icons/tui-lazydocker.png
StartupNotify=true

